h1{
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 2rem;
}

.header .flex .logo img {
    height: 2.6rem;
}

.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 20px;
    color: #1976d2;
    text-decoration: none;
}

.header .flex .navbar a:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid #1976d2;
    color: #1976d2;
}

@media screen and (max-width: 768px) {
    .header .flex .navbar {
        display: none;
    }

    .header .flex .navbar.active {
        display: block;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: 0.1rem solid #333;
        border-bottom: 0.1rem solid #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
}
